body {
    font-family: 'Public Sans', sans-serif;
    padding: 0px;
    margin: 0;
}

body::-webkit-scrollbar {
    width: 7px;
}

body::-webkit-scrollbar-track {
    background-color: transparent !important;
}

body::-webkit-scrollbar-thumb {
    background-color: #aaa;
    border-radius: 10px;
}
/* ======================================================text */
.text-primary{
    color: #E79DAF !important;
}
/* =====================================================buttons */
.add-product-btn{
    margin-bottom: 20px;
    border: none;
    text-decoration: none;
    background-color: #E79DAF;
    border: none;
    padding: 6px 5px 6px 5px !important;
    border-radius: 4px;
    color: white;
    font-size: 14px;
}
.add-product-btn:hover{
    background-color: #ee7896;
}
.add-product-btn i{
    font-size: 14px;
}

/* =======================================================home page */
.theme {
    background: #FAFAFA;
    display: flex;
    height: 100vh;
    overflow-y: hidden;
    padding: 0;
    margin: 0;
}

#logo-image {
    height: 100px;
    width: auto;
}

.profile-pic {
    height: 38px;
    width: 38px;
    border-radius: 100%;
    object-fit: cover;
}

.project-heading {
    color: #23272E;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Public Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    /* 91.667% */
}

.admin-dp {
    position: relative;
}

.online {
    height: 9px;
    width: 9px;
    background-color: #28C76F;
    border-radius: 10px;
    position: absolute;
    bottom: 5px;
    right: -3px;
}

.zone-change{
    padding: 0px 20px;
    width: 100%;
}
.zone-change .dropdown .dropdown-toggle{
    width: 100% !important;
    text-align: left;
    background-color: transparent;
    color: #E79DAF;
    border: 1px solid #F3F4F8 !important;
    padding: 10px 30px;
}
